
<link rel="stylesheet" type="text/css" href="application.css"></link>

<h1>Please Fill out your Login Information</h1>

<form action="/twitter" method="POST">
Please Login: <input type="text" name="user1_login"><br>
Please Login: <input type="text" name="user2_login">
<input type="submit">
</form>