<!doctype html>
<html>
<head>
<link rel="stylesheet" href="application.css" type="text/css" />
<h1>Fill this out!</h1>
</head>

<body>
<div class="form">
<form  name="input" action="/twitter" method="post">

User 1: <input type="text" name="user1_login"></input><br/>
User 2: <input type="text" name="user2_login"></input><br/>
	<input type="submit" value="submit"></input>

</form>
</div>
</body>
</html>