<link rel="stylesheet" href="application.css" type="text/css" />
<h1>Fill this out!</h1>


<body>
<div class="form">
<form  name="input" action="/twitter" method="post">

User 1: <input type="text" user1="login-a"><br>
User 2: <input type="text" user2="login-b"><br>
	<input type="submit" value="submit">

</form>
</div>
</body>