<!DOCTYPE>
<html>
<head>

<link rel="stylesheet" type="text/css" href="public/application.css">
<link href='http://fonts.googleapis.com/css?family=Kavoon' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Happy+Monkey' rel='stylesheet' type='text/css'>
</head>
<body>
<h3>And the results are:</h3><b><%=@result%></b>
</body>
</html>