body {
	background-color:#82CFFD;
}

h1 {
	background-color: #82CFFD;
	text-align: center;
	font-family: 'Kavoon', cursive;
}

h3 {
	background-color: #82CFFD;
	text-align: center;
	font-family: 'Kavoon', cursive;

}

form {
	color: black;
	float: left;
	font-family: 'Happy Monkey', cursive;
}

p {
	color: #82CFFD;
	font-family: 'Happy Monkey', cursive;
}
